---
# Headless service
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name }}
  # labels:
  #   app: mysql
spec:
  clusterIP: None
  selector:
    app: {{ .Release.Name }}
  ports:
  - protocol: TCP
    port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
---